html {
    font-family: monospace;
    background: linear-gradient(90deg, rgba(141,141,150,1) 0%, rgba(218,225,233,1) 49%, rgba(141,141,150,1) 100%, rgba(241,241,244,1) 100%);
}

.txt_index {
    font-size: large;
} 

p{
    text-align:center;
}

header{
    text-align:center;
}

.imgg{
    text-align:center;
}


.myimages {
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 15px 50px 30px 5px;
    width: 200px;
    height: 150px;
}

.back{
    width: 900px;
    height: 950px;
    margin: 0 auto;
    width: 1000px;
}


